<a href='/restaurants/new' class="btn btn-primary" id='add_a_restaurant' >Add a restaurant</a>
<div class='main_box' id='restaurants_box'>
  <% if @restaurants.any? %>
    <% @restaurants.each do |restaurant| %>
      <div class='each_restaurant_box' >
        <h1>
          <%= image_tag restaurant.image.url(:thumb) %>
          <%= link_to restaurant.name, restaurant_path(restaurant), class: 'restaurant_name' %>
          <div id='rating_box'>Average rating: <%= star_rating(restaurant.average_rating) %></div>
        </h1>
        <% if can? :update, restaurant %>
          <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant), class: 'owner_buttons' %>
        <% end %>
        <% if can? :destroy, restaurant %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, class: 'owner_buttons' %>
        <% end %>
        <% unless restaurant.reviews.find_by(user: current_user) %>
          <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant), class: 'owner_buttons' %>
        <%end%>
        <div class='main_box' id='reviews_box' >
          <h2>Reviews for <%= restaurant.name %>:</h2>
          <% if restaurant.reviews.any? %>
            <ul>
              <% restaurant.reviews.each do |review| %>
                <% if restaurant.reviews.count > 1 && review != restaurant.reviews.first %>
                  <div class='black-line'></div>
                <% end %>
                <li>
                  <%= review.thoughts %>, <strong><%= review.rating %></strong>/5
                  <span class="endorsements_count"> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %>
                    <%= link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link' %>
                  <% if can? :destroy, review %>
                    <%= link_to "Delete #{restaurant.name} review", review_path(review), method: :delete, class: 'owner_buttons' %>
                  <%end%>
                </li>
               <% end %>
            </ul>
          <% else %>
            <p>No reviews.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    No restaurants yet 
  <% end %>
</div>
